@keyframes fadeInSlideUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.footer {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  width: 100%;
  margin-top: 2rem;
  animation: fadeInSlideUp 1s ease-out forwards;
}

.footer p {
  margin: 0;
  font-size: 1rem;
  opacity: 0;
  animation: fadeInSlideUp 1s ease-out forwards;
  animation-delay: 0.3s;
}
